
{% extends 'base.html' %}
{% block content%}
<body>
    <br><br><br><br><br>

    <div class="container">

            <a href="{%url 'new' %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">글쓰기</a>
         
   

        <br><br>
        
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                    {%for blog in blogs.all %}
                <h5 class="card-title">제목: {{blog.title}}</h5> <br> 글쓴이 : {{blog.writer}} <br><br>
                <h6 class="card-subtitle mb-2 text-muted">날짜 : {{blog.pub_date}}</h6>
                <p class="card-text">내용 : {{blog.body}}</p>

                <a href="{% url 'detail' blog.id %}" class="card-link">자세히</a>
                <a href="{% url 'edit' blog.id %}" class="card-link">수정하기</a>
                <a href="{% url 'delete' blog.id %}" class="card-link">삭제하기</a>
                {%endfor%}
            </div>
        </div>
    </div>




</body>
{% endblock %}
